@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin-top: 110px;
}

h1 {
    color: var(--cor-1);
    font-weight: 900;
    font-size: 40px;
}

h3{
    font-weight: 600;
}

h4{
    margin-bottom: 0;
}

h5 {
    color: var(--cor-3);
    margin-bottom: 0;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}

:root {
    --cor-1: #31403E;
    --cor-2: #9BBFBC;
    --cor-3: #485958;
    --cor-4: #B4D9D5;
    --cor-5: #DCF2F0;
}

/* <<<<< HEADER >>>>> */

.headdesk {
    z-index: 3;
    display: flex;
    height: 90px;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: space-around;
}


.bnav {
    background-color: transparent;
    border: none;
    margin: 0 8px;
    transition: transform 0.2s ease, border-bottom 0.2s ease;
}

@media(max-width:1080px) {
    .headdesk {
        font-size: calc(1.2vw);
    }
}

.bnav:hover {
    transform: translateY(-3px);
    /* efeito de "subir" */
    border-bottom: solid 3px #9BBFBC;
}

#bcad {
    background-color: transparent;
    border: none;
    margin: 0 4px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}

#bcad:hover {
    color: #31403E;
    border: none;
    margin: 0 4px;
}

#blog {
    background-color: #31403E;
    color: white;
    border: none;
    margin: 0 4px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
}

#blog:hover {
    background-color: rgba(49, 64, 62, 0.9);
}

.logonav {
    width: 100px;
}

.logonav:hover {
    width: 100px;
    cursor: pointer;
}

.pesbtn {
    position: absolute;
    margin-left: 10px;
    width: 25px;
    padding-top: 5px;
}

input[type=search] {
    padding-left: 2.4em;
    height: 35px;
    border-radius: 13px;
    width: 220px;
    border: solid 1.5pt #9BBFBC;
}

.user-actions {
    display: flex;
    align-items: center;
}

.offcanvas li {
    font-size: 18px;
}

/* <<<<< HOME >>>>> */

#carouselExampleCaptions {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.d-block {
    height: 60vh;
    object-fit: cover;
    margin: auto;
    width: 70vw;
    border-radius: 20px;
}


.tcar1 {
    width: 25vw;
    position: absolute;
    text-align: right;
    right: 20%;
    top: 5%;
}

#bcar1 {
    position: absolute;
    right: 20%;
    bottom: 15%;
    background-color: transparent;
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    border: solid 2px #31403E;
    color: #31403E;
    transition: background-color .5s;
    font-weight: 500;
}


.tcar2 {
    width: 42vw;
    position: absolute;
    margin: auto;
    text-align: left;
    left: 20%;
    top: 5%;
}

.tcar2 h5 {
    width: 32vw;
}

#bcar2 {
    position: absolute;
    right: 20%;
    bottom: 15%;
    background-color: transparent;
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    border: solid 2px white;
    color: white;
    font-size: calc(1vw);
    font-weight: 500;
    transition: background-color .5s;

}

.tcar3 {
    width: 80vw;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 13%;
}

.carousel-indicators #on {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--cor-1);
}


.carousel-indicators #off {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--cor-1);
}

.carousel-indicators {
    top: 100%;
}

/* Postagem(home) */

#posthome{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto; 
    height: 20vh; 
}

#poshomecontent{
    background-color: #485958;
    border-radius: 0 20px 20px 0;
    padding-left: 40px;
    position: relative;
    width: 30vw;
    margin-right: 34%;
}

#poshomecontent h3{
    width: 50%;
    color: white;
    font-size: calc(1vw + 1.1vh); 
    overflow: hidden;
}


#poshomecontent button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: var(--cor-1);
    color: white;
    border: none;
    width: 10vw;
    height: 5vh;
    border-radius: 15px;
}

#poshomecontent button:hover{
    background-color: rgba(49, 64, 62, 0.8);
}

/* Carrossel Animais */

.tcaranim{
    text-align: right;
    margin-right: 2vw;
}

.slide-container{
  width: 55%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
}

.card-content{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 14px;
  height: 13vh;
  border-radius: 0 30px 30px;
  background-color: var(--cor-1);
}

#cardani{
    border: none;
    color: var(--cor-4);
}

#cardani img{
    width: 100%;
    height: 30vh;
    border-radius: 30px;
    object-fit: cover;
}

/* .card-image{
  position: relative;
  height: 150px;
  width: 150px;
  padding: 3px;
} */

.description{
  font-size: 14px;
  text-align: center;
}

.swiper-navBtn{
  color: var(--cor-1);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: var(--cor-1);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 50px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: var(--cor-3);
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: var(--cor-1);
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  /* .swiper-navBtn{
    display: none;
  } */
}


/* Banner */


#bannerhdiv {
    width: 100%;
    background-image: url(../IMG/pexels-tranmautritam-2215599.jpg);
    height: 70vh;
    display: flex;
    background-position: center;
    background-size: 100%;
    margin-top: 3%;
}

.textbanner {
    background-color: rgba(72, 89, 88, 0.9);
}

#bannerhdiv h1 {
    width: 30vw;
    height: 70vh;
    color: white;
    padding: 40px;
    letter-spacing: 4px;
    font-size: calc(2vw + 1vh);
    overflow: hidden;
}

#bannerhdiv button {
    background-color: transparent;
    position: relative;
    left: 60%;
    top: 90%;
    width: calc(8vw);
    height: 5vh;
    border-radius: 15px;
    border: solid 2px #31403E;
    color: #31403E;
    transition: background-color .5s;
    font-weight: 500;
}

#bannerhdiv button:hover {
    background-color: #31403E;
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    color: white;

}

/* Depoimentos */

.depoi {
    display: flex;
    width: 100%;
    margin-top: 2%;
    justify-content: center;
}

.h1depoi{
    text-align: center; 
    margin-top:3%;
}

.tdepoi {
    width: 21vw;
    text-align: center;
    align-self: flex-end;
}

.depoi .card{
    border: none;
}

.cards-box {
    transform: translateX(-15px);
    margin-left: 4vw;
}


.cards-box .card {
    width: 18vw;
    height: 30vh;
    background: var(--cor-2);
    border-radius: 20px;
    cursor: pointer;
    overflow: scroll;
    scrollbar-width: none;
}

.content-placeholder .row .img {
    flex-shrink: 0;
    position: absolute;
    right: 2%;
    top: 2%;
    background: var(--cor-5);
    width: calc(25px + 2vw);
    height: calc(25px + 2vw);
    border-radius: 50%;
}

.cards-box .card.hide {
    visibility: hidden;
}

.cards-box .card:not(.hide) {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

.cards-box .card:not(.hide)[data-slide='0'] {
    transform: translate(0px, 0px) scale(1);
    z-index: 6;
    opacity: 1;
}

.cards-box .card:not(.hide)[data-slide='1'] {
    transform: translate(15px, 15px) scale(0.975);
    z-index: 5;
    opacity: 0.9;
}

.cards-box .card:not(.hide)[data-slide='2'] {
    transform: translate(30px, 30px) scale(0.95);
    z-index: 4;
    opacity: 0.8;
}

.cards-box .card:not(.hide)[data-slide='3'] {
    transform: translate(45px, 45px) scale(0.925);
    z-index: 3;
    opacity: 0.7;
}

.cards-box .card:not(.hide)[data-slide='4'] {
    transform: translate(60px, 60px) scale(0.9);
    z-index: 2;
    opacity: 0.6;
}

.cards-box .card:not(.hide)[data-slide='5'] {
    transform: translate(75px, 75px) scale(0.875);
    z-index: 1;
    opacity: 0.5;
}

.cards-box .card:not(.hide)[data-slide='0'] {
    transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.content-placeholder {
    padding: 14px 18px 20px;
}


.content-placeholder .row .img::after {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(30px + 1vw);
    font-weight: bold;
    color: var(--cor-3);
}

.comentario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.form_box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 700px;
}

.form_box form {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.form_box input,
.form_box textarea {
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #9BBFBC;
    padding-left: 16px;
    margin-bottom: 16px;
}

.form_box input:first-child {
    margin-right: 16px;
}

.form_box input[name=email] {
    width: 100%;
}

.form_box textarea {
    width: 100%;
    height: 180px;
    padding: 16px;

}

.form_box button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background-color: #31403E;
    color: #F5F5F5;
    margin-left: 550px;
}

/* <<<<< CADASTRO >>>>> */

.txtcad {
    margin-bottom: 3vh;
}

#cardform {
    margin-bottom: 200px;
    width: 50vw;
}

#cardform .col-6 input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--cor-2);
    padding-left: 10px;
    margin-bottom: 3vh;
    margin-right: 10px;
}

#cardform .col-12 input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--cor-2);
    padding-left: 10px;
    margin-bottom: 3vh;
}

input[name="but-cad"] {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    background-color: var(--cor-1);
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 700;
    margin-top: 3vh;
}

.pass{
    position: relative;
}

.show-psswd{
  position: absolute;
  right: 1rem;
  top: 20%;
  background-color: transparent;
  border: none;
}


input[name="but-cad"]:hover {
    background-color: rgba(49, 64, 62, 0.9);
}

/* <<<<< LOGIN >>>>> */

.caixa{
 
   width: 40vw;
}
 
.img-login{
 
    width: 20vw;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
 
 
.col-12 input{
 
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border:thin solid #9BBFBC;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}
 
.text-log7-c{
 
margin-left: 20vw;
 
}
 
 
.checkbox-login{
 margin-top: 10px;
}
 
.text-log7, .checkbox-login {
 
display: block;
text-align: center;
 
}

.log-input{
    position: relative;
}

#passtogglelog{
    top: 25%;
}
 
 
.row button[name="but-log"]{
 
    display: block;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #31403E;
    color: #F5F5F5;
    font-size: 16px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}


/* POSTAGEM */

.postcont {
  display: flex;
  padding: 30px;
  gap: 10px;
}

.left-panel {
  flex: 1;
  background-color: var(--cor-1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
  color: #888;
}

.preview-imagens-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 15px; 
    padding: 10px;
    min-height: 80px; 
    align-items: center; 
    justify-content: center; 
}

.preview-imagem-item {
    width: 60px; 
    height: 60px; 
    overflow: hidden; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.preview-imagem-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.botao-enviar {
    background-color: var(--cor-2)
}

.botao-enviar:hover {
    background-color: var(--cor-4);
}

.right-panel {
  flex: 2;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border:thin solid #9BBFBC;
}

.right-panel p {
  color: var(--cor-3);
  margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.right-panel form {
  display: flex;
  flex-direction: column;
  gap: 15px;
} 

form input,
form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border:thin solid #9BBFBC;
}

 select, input {
 padding: 10px;
 border: 1px solid #9BBFBC;
 border-radius: 4px;
}  

#genero{
    width: 100%;
}

.botao-publicar {
  padding: 10px;
  background-color: var(--cor-1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao-publicar:hover {
  background-color: rgba(49, 64, 62, 0.9);
}

.campos-lado-a-lado {
    display: flex; 
    gap: 20px; 
    width: 100%; 
}

.campos-lado-a-lado > div {
    flex: 1; 
}

.campos-lado-a-lado label {
    display: block; 
    margin-bottom: 5px; 
}

.campos-lado-a-lado input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #9BBFBC; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

/* <<<<< FEED - ADOÇÃO >>>>> */

.filtros {
  max-width: 950px;
  margin: auto;
  padding: 2rem;
}

.fill{
    background-color: #F5F5F5;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.filtro {
  max-width: 950px;
  margin: auto;
  padding: 2rem;
}

.foto{
    background-color: #31403E;
    color: #DCF2F0;
    border-radius: 10px;
}

.tl{
  padding-left: 10px;
  padding-top: 7px;
}

.filter-form {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-form select,
.filter-form button {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filter-form button {
  background-color: #1f2d27;
  color: white;
  border: none;
  cursor: pointer;
}

.fundos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.fundos {
  border-radius: 12px;
  overflow: hidden;
}

.fundos img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.load-more {
  margin: 2rem auto;
  display: block;
  padding: 0.75rem 1.5rem;
  background-color: #1f2d27;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#bannerhdiv1 {
    width: 100%;
    background-image: url(../IMG/pexels-gustavo-fring-4971402.jpg);
    height: 71vh;
    display: flex;
    background-position: center;
    background-size: 100%;
    margin-top: 3%;
}

@media (max-width: 991px) {
    #bannerhdiv1 {
        display: none;
    }
}

#bannerhdiv1 h1 {
    width: 30vw;
    height: 70vh;
    color: white;
    padding: 35px;
    letter-spacing: 4px;
    font-size: calc(2vw + 2vh);
    overflow: hidden;
    text-align: left;
}

.fundos > div {
  max-width: 300px;
  width: 100%;
}

.hidden {
  display: none !important;
}

/* <<<<< DESCRIÇÃO - PET >>>>> */

.sitdesc{
    position: absolute;
    right: 10%;
    top: 13%;
    width: 10vw;
    text-align: center;
}

.sitdesc h4{
    color: white;
    background-color: var(--cor-1);
    padding: 5px 10px;
    border-radius: 8px;
}

.descflex{
    display: flex;
    justify-content: center;
     column-gap: 4vw; 
     row-gap: 5vh;
}

#imgdesc{
    height: 50vh;
    width: 22vw;
    object-fit: cover;
    border-radius: 15px;
}

.desccontent div{
    margin-bottom: 1vh;
    width: 40vw;
}

.headcontdesc{
    display: flex;
}

#tdescani{
    width: 30vw;
}

#descval{
    display: flex;
    width: 40vw;
}


.decflex h1,h3{
    margin-top: 3vh;
}

.tagsdesc{
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

.tagsdesc h5{
    background-color: #DCF2F0;
    width: fit-content;
    text-align: center;
    color: var(--cor-1);
    border-radius: 12px;
    padding: 3px 10px;
}

#map{
    border-radius: 20px;
    width: 600px;
    height: 400px;
}

.descdono{
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 5vw;  
}

.mapflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
} 

.descdonocont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3%;
    text-align: center;
}

#contdono{
    background-color: var(--cor-1);
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 60px;
    margin-top: 50%;
}

#contdono:hover{
    background-color: rgba(49, 64, 62, 0.9);
}

/* <<<<< FOOTER >>>>> */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 0;
    margin-top: 5vh;
}


.footer a {
    margin: 20px;
    color: #000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.logofoot {
    width: 100px;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

/* <<<<< ALTSENHA(CONFIRMAÇAÕ DE E-MAIL) >>>>> */

.img-altemail{
 
    width: 20vw;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
 
.caixa-senha{
 
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
   
}
 
.psenha{
    width: 20vw;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
 
.but-csenha{
   
    border: none;
    outline: none;
    width: 15vw;
    height:60px;
    border-radius: 8px;
    background-color: #31403E;
    color: #F5F5F5;
    font-size: 16px;
    margin: 10px;  
     
}
 
.but-casenha{
 
    border: none;
    outline: none;
    width: 15vw;
    height:60px;
    border-radius: 8px;
    background-color: #777777;
    color: #F5F5F5;
    font-size: 16px;  
    margin: 10px;  
   
   
}
 
.bt-senha{
 
    display: flex;
    gap: 5vw;
    justify-content: center ;
     
}

/* <<<<< ALTSENHA(REDEFINIÇÃO DA SENHA) >>>>> */

.caixa-rsenha{
    margin-top: 10%;
    margin-bottom: 7%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
   
}

input[name=nova-senha]{

    width: 25vw;
}

input[name=confirmar-nsenha]{

    width: 25vw;
}
 
.prsenha{
    width: 20vw;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
 
.but-rcsenha{
   
    border: none;
    outline: none;
    width: 15vw;
    height:60px;
    border-radius: 8px;
    background-color: #31403E;
    color: #F5F5F5;
    font-size: 16px;
    margin: 10px;  
     
}

.but-rcsenha:hover{
     background-color: rgba(49, 64, 62, 0.9)
}
 
.but-rcasenha{
 
    border: none;
    outline: none;
    width: 15vw;
    height:60px;
    border-radius: 8px;
    background-color: #777777;
    color: #F5F5F5;
    font-size: 16px;  
    margin: 10px;   
}

#nova-senhatoggle{
    right: 26%;
    top: 25%;
}

#confirmar-nsenhatoggle{
    right: 26%;
    top: 25%;
}

.but-rcasenha:hover{
    background-color: rgba(119, 119, 119, 0.8);
}
 
.bt-rsenha{
 
    display: flex;
    gap: 5vw;
    justify-content: center ;
     
}

/* <<<<< Mobile - Retrato >>>>>*/

@media (max-width:991px) {

    body {
        margin-top: 110px;
    }

    .headdesk {
        display: none;
    }

    p {
        font-size: medium;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }


    /* Mobile - Home */


    #carouselExampleCaptions {
        margin-top: 110px;
    }

    .d-block {
        width: 90vw;
        height: 60vh;
    }


    .tcar1 {
        width: 75vw;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 3%;
        right: 8%;
        border-radius: 20px;
    }


    #bcar1 {
        width: 22vw;
        bottom: 2%;
        font-size: 3vw;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0.8);
        color: var(--cor-1);
        font-weight: bold;
        border: none;
        font-weight: 500;
        right: 12%;
    }

    .tcar2 {
        width: 75vw;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 15px;
        height: 40vh;
        border-radius: 20px;
        left: 10%;
    }

    #bcar2 {
        width: 22vw;
        bottom: 2%;
        font-size: 3vw;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0.8);
        color: var(--cor-1);
        border: none;
        font-weight: 500;
        right: 10%;
    }

    .tcar2 h1 {
        font-size: 30px;

    }

    .tcar2 h5 {
        width: 70vw;
    }

    .tcar3 {
        width: 70vw;
        margin: auto;
    }

    #posthome{
        margin-top: 15%;
        height: 20vh;
        width: 100vw;
    }

    #poshomecontent{
        width: 90%;
        height: 100%;
    }

    #poshomecontent h3{
        width: 80%;
        font-size: calc(1.5vw + 1.5vh);
    }

    #poshomecontent button{
        width: 30vw;
        bottom: 5%;
    }

    .slide-container{
        width: 80vw;
    }

    .swiper-navBtn{
        display: none;
    }

    .card-content{
        height: 15vh;
    }

    .tcarani{
        text-align: center;
        width: 100%;
        margin-top: 15%;
    }

    .tcarani h4{
        display: none;
    }

    .tcaranim{
    text-align: center;}
    
    .tcaranim h4{
        display: none;
    }

    #bannerhdiv {
        display: none;
    }

    .tdepoi {
        display: none;
    }

    .cards-box {
        width: 70vw;
    }

    .cards-box .card {
        width: 100%;
    }


.h1depoi{
    margin-top: 6%;
}


.depoi .card{
    height: 32vh;
    margin-top: 3%;
}

.content-placeholder .row .img {
    width: calc(50px + 2vw);
    height: calc(50px + 2vw);
}



    .comentario {
        margin-top: 15%;
    }

    .form_box {
        width: 90%;
    }

    .form_box form {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    }

    .form_box input,
    .form_box textarea {
        width: calc(50% - 8px);
        height: 48px;
        border-radius: 8px;
        border: thin solid #9BBFBC;
        padding-left: 2vw;
        margin-bottom: 16px;
    }

    .form_box input:first-child {
        margin-right: 16px;
    }

    .form_box input[name=email] {
        width: 100%;
    }

    .form_box textarea {
        width: 100%;
        height: 180px;
        padding: 0 2vw;

    }

    .form_box button {
        margin-left: 0px;
        width: 35vw;

    }

    /* Mobile - Cadastro  */


    #cardform {
        width: 95%;
    }

    #cardform .col-6 input {
        padding-left: 8px;
        font-size: 14px;
    }

    #cardform .col-12 input {
        font-size: 14px;
    }

    /* Mobile - Login */

    .img-login{
        width: 60vw;
    }

    .caixa{
        width: 80vw;
    }

    /* Mobile - Altsenha(confirmação de e-mail) */

    .img-altemail{
    width: 50vw;
    }
 
    .caixa-senha{
    width: 80vw;
}

.psenha{
    width: 70vw;
}
 
.col-12 input[name=email]{
    width: 10w;
    height: 10vw 
}
 
.but-csenha{
    width: 95%;
    height:50px;
    font-size: 12px;  
}
 
.but-casenha{
    width: 95%;
    height:50px;
    font-size: 12px;      
}
 
.bt-senha{
    display: block;
    gap: 5vw; 
}

/* Mobile = Altsenha(Redefinição de senha) */

.caixa-rsenha{
    width: 90VW;
}

.prsenha{
    width: 70vw;
}

input[name=nova-senha]{
    width: 70vw;
}

input[name=confirmar-nsenha]{

    width: 70vw;
}

.bt-rsenha div{
    width: 100%;
}

.but-rcsenha{
    width: 90%;
    height:50px;
    font-size: 12px;  
}

#nova-senhatoggle{
    right: 13%;

}

#confirmar-nsenhatoggle{
    right: 13%;
    
}
 
.but-rcasenha{
    width: 90%;
    height:50px;
    font-size: 12px;      
}

/* Mobile - Postagem */

.postcont {
  display: flex;
  padding: 10px;
  gap: 1px;
}

.left-panel{
    margin-bottom: 10px;
}

#inputArquivo{
    width: 60vw;
}

.postcont {
  display: block;
}

.preview-imagem-item{
    display: none;

}

  .container.postcont {
    display: grid;
    grid-template-areas:
      "right"
      "left";
  }

  .left-panel {
    grid-area: left;
  }

  .right-panel {
    grid-area: right;
  }

.upload-box{
    height: 23vh;
    padding: 10px;
    margin-top: 20px;
}

.botao-publicar{
    display: none;
}

.botao-publicar-mobile {
  padding: 10px;
  background-color: var(--cor-1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Mobile - Feed Adoção */

.filtros,
  .filtro {
    padding: 1rem;
  }

  .filtros h1,h2,p{
    text-align: center;
  }

  .filter-form {
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }

  .filter-form select,
  .filter-form button {
    width: 100%;
    font-size: 1rem;
  }

  .fundos {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  .fundos img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  .fill {
    padding: 1rem;
    margin-top: 20px;
  }

  .load-more {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }

  .fundos {
    grid-template-columns: 1fr;
    justify-items: center; /* Centraliza os itens horizontalmente */
  }

  .fundos > div {
    max-width: 300px;
    width: 100%;
  }

  .fundos img {
    height: 150px;
    border-radius: 8px 8px 0 0;
  }

  /* Mobile - Descrição */

  .sitdesc{
    position: absolute;
    right: 15%;
    top: 13%;
    width: 25vw;
}

.descflex{
    display: flex;
    flex-direction: column;
    align-items: center;
     row-gap: none;
     text-align: center;
}

#imgdesc{
    height: 30vh;
    width: 80vw;
}

.desccontent div{
    margin-bottom: 1vh;
    width: 90vw;   
}

.headcontdesc{
    flex-direction: column;
    text-align: center;  
}

#tdescani{
    width: 90vw;
}

#descval{
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.tagsdesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

#map{
    border-radius: 20px;
    width: 80vw;
    height: 20vh;
}

.descdono{
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
    gap: 5vw;  
}

.mapflex{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
} 

.descdonocont{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
    text-align: center;
}

#contdono{
    margin-top: 5%;
}


    /* Mobile - Footeer */

    .footer {
        margin-top: 2%;
    }

    .footer a {
        margin: 5px;
        display: block;
        text-align: center;
    }

    .logofoot {
        width: 80px;
    }


    .logofoot {
        position: absolute;
        right: 5%;
        margin-bottom: 3vh;
    }



}


 


/* <<<<< Mobile paisagem >>>>> */

@media (max-height:500px) {

    /* Home - Mobile (Paisagem) */
    #bcar1 {
        height: 8vh;
        font-size: medium;
    }

    #bcar2 {
        height: 8vh;
        font-size: medium;
    }

    #posthome{
        margin-top: 9%;
        height: 35vh;
    }

    #poshomecontent h3{
        font-size: calc(2vh + 2vw);
    }

    #poshomecontent button{
        bottom: 10%;
        height: 8vh;
        width: 25vw;
    }

    #cardani img{
        height: 200px;
    }

    .card-content{
        height: 100px;
    }

    .cardepoi .card{
        height: 50vh;
    }

    /* Postagem - Mobile (Paisagem) */

    .upload-box{
        height: 160px;
    }

}


@media (min-width:991px) {
    .navbar {
        display: none;
    }

    #bcar1:hover {
        position: absolute;
        background-color: #31403E;
        width: 8vw;
        height: 5vh;
        border-radius: 15px;
        color: white;
    }

    #bcar2:hover {
        position: absolute;
        width: 8vw;
        height: 5vh;
        border-radius: 15px;
        background-color: white;
        color: var(--cor-1);
        border: none;
    }

    .botao-publicar-mobile{
        display: none;
    }

}